* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 16px;
  color: #999;
  vertical-align: bottom;
  margin-top: 40px;
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  position: relative;
  text-align:center;
  /* height: 6rem; */
  height: 100%;
  overflow: hidden;
  
}
.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  transition: transform 0.2s;
  object-fit: fill;
  width: 100%;
  height: 100%;
  
  
}
.tile img:hover {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  transform: scale(1.1);
  filter: brightness(80%);
  cursor: pointer;
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  position: relative;
  bottom: 4rem;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/workspace/tanzeelshamsh-in-ME_QTRIPSTATIC/assets/hero.jpg");

  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  height: 60vh;
  /* 2. Position and center the image to scale nicely on all screens. */
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.hero-subheading {
  font-size: 24px;
  font-weight: 100;
}
.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.nav-link {
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  border: 1px solid #e2e8f0;
  text-align: center;
  overflow: hidden;
 
}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  width: 100%;
  height: 20em;
  object-fit: cover;
  
}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter: brightness(80%);
  cursor: pointer;
}
.text{
  height: 20%;
}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */

}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  width: 100%;
  padding: 8px 0;
  /* object-fit: cover; */  
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  filter: brightness(80%);
  cursor: pointer;

}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}  
strong{
  color: #fb923c;
  font-weight: 300;
}
@media (min-width: 992px){
  #fixing{
    position: fixed;
    width: 28%;
    border: 1px solid #d1d5db;
  }
}
@media (max-width: 768px){
  footer{
    flex-direction: column;
    align-items: center;
  }
}
#resort1{
  border: 1px solid #d1d5db;
}
@media (max-width: 991px){
  #sold-out{
    border: 1px solid #d1d5db;
    margin-top: 1rem;
    border-radius: 0.2rem;
  }
}